.DS_Store
**/.DS_Store
img/surgeon/*_files/
img/surgeon/**/Fotos y videos de Instagram_files/
*.heic
.env
admin/include/conexion.local.php
img/surgeon/*Instagram*
# Logs
admin/logs/*.log
.vscode/sftp.json